* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}
body{
    padding: 1%;
    background-color: #E1574D;
}
.main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 20px 100px;
    background-color: white;
    border-radius: 25px;
}

nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 15px;
    border-radius: 25px;
}

.logo {
    font-size: 45px;
}

.icons {
    font-size: 25px;
    display: flex;
    gap: 1.2vw;
}

.links {
    display: flex;
    align-items: center;
    gap: 3vw;
    font-weight: 600;
}

.links :nth-child(2) {
    color: #DA0000;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left {
    width: 30%;
    height: 100%;

}

.left p {
    width: 55%;
    margin: 8% 0;
    line-height: 1.6vw;
}

.head h2 {
    margin-top: 10%;
    padding: 15px 30px;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    opacity: .9;
}

.head h1 {
    margin-top: 10%;
    font-size: 50px;
    font-weight: 900;
}
.btn{
    display: flex;
    align-items: center;
    gap: 2.5vw;
}
button {
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 25px;
    border: none;
    background-color: #DC0C00;
    color: white;
}
.head i{
    font-size: 30px;
    border: 1px solid hsla(0, 0%, 0%, 0.5);
    padding: 8px;
    border-radius: 50%;
}

.last{
    margin-top: 10%;
    display: flex;
    gap: 2vw  ;
    margin-left: 15%;
}
.last :last-child{
    border: 1px solid hsla(0, 98%, 48%,0.8);
}
.right {
    text-align: center;
    width: 70%;
    height: 100%;
    position: relative;
}

.right img {

    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.right>i {
    position: absolute;
    left: 40%;
    top: 45%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: #AEAEAE;
}

.iconss {
    font-size: 25px;
    position: absolute;
    right: 22%;
    top: 10%;
}